/* main css to site: */
* {
  margin: 0;
  box-sizing: border-box;
}

/* design to body of site: */
body{
  height: 100%;
}

/* title of site inside nav: */
h1 {
  font-size: 55px;
  margin: auto;
  color: blue;
}

#wrapper {
  overflow: hidden;
}

/* nav of h1: */
.navbar-text {
  background-color: rgb(211, 211, 211);
  padding: 25px;
  text-align: left;
  border-bottom: 3px solid blue;
  width: 100%;
  height: 125px;
  margin: 0;
  padding-left: 10px;
}

/* 3 links of navigate in site: */
.divHeader {
  font-size: 17px;
  font-weight: bold;
  display: inline;
  margin-left: 20px;
  color: white;
}

/* input search+ button fot searching currency: */
.searchCoin {
  display: inline;
  margin-left: 36px;
  color: #2196F3;
  font-size: medium;
  font-weight: bold;
}

#aboutPage {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* design to input of search coin+ button of search coin: */
.inputSearchCoin, .buttonSearchCoin {
  border: 3px solid blue;
  margin-top: 20px;
}

/* Create a space between input of search coin and button of search coin:  */
.buttonSearchCoin {
  margin-left: 4px;
}

/* design  to cards with currency information */
.card {
  background-color: rgb(192, 237, 255);
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
  height: 160px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-top: 20px;
  position: relative;
}

/* The switch - the box around the slider: */
.switch {
  position: absolute;
  display: block;
  width: 60px;
  height: 34px;
  right: 7px;
  top: 6px;
}

/* Hide default HTML checkbox: */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider: */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

/* continue to design of slider: */
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

/*  continue to design of slider: */
input:checked + .slider {
  background-color: #2196F3;
}

/*  continue to design of slider: */
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

/*  continue to design of slider: */
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders: */
.slider.round {
  border-radius: 34px;
}

/* continue to Rounded sliders: */
.slider.round:before {
  border-radius: 50%;
}

/* button of "More Info": */
.btn_card_more_info {
  font-size: 16px;
}

#moreInfoContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
/* button of "Load Currencies": */
#buttonLoadCurrencies {
  margin-top: 5px;
}

/* button of "Add Cards": */
#buttonCreateCard {
  margin-left: 20px;
}

/* rows of cards: */
.row {
  max-width: 950px;
  margin: 0 auto;
}

/* background-image with coins: */
.backgroundImageOfCoins {
  background-image: url("assets/images/backgroundImage.jpg");
  width: 100%;
  background-attachment: fixed;
  position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* symbol of currency: */
.symbol {
  padding-left: 10px;
  padding-top: 6px;
  width: 100%;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: blue;
  font-weight: bold;
}

/* design of coin's name: */
.currencyName {
  text-align: left;
  padding-left: 10px;
  margin-top: 5px;
  float: left;
  color: blue;
  font-weight: bold;
  font-size: 16px;
}

/* ... */
.cardInfo {
  text-align: left;
  height: 52px;
}

/* design for progress bar when the page loads: */
#loadingBar {
  display: none;
  width: 90px;
  height: 80px;
  margin-left: 30%;
}

/* design to collapser of button "More Info": */
.textField {
  padding-inline-start: 7px;
  display: none;
  overflow-y: auto;
  flex-direction: column;
  margin-block-start: 14px;
  background-color: white;
  border: 1px solid black;
  height: 230px;
  width: 240px;
}

#aboutTextField {
  padding-inline-start: 7px;
  display: none;
  flex-direction: column;
  margin-block-start: 14px;
  background-color: white;
  border: 1px solid black;
  height: 800px;
  margin-left: 16px;
  margin-top: 40px;
  width: 90%;
}

/* design to image in More Info onclick: */
.imageMoreInfoData {
  height: 30px;
  width: 30px;
}

/* image of each currency when you click on "More Info" card: */
.img {
  position: relative;
  bottom: 68px;
  left: 180px;
}
.currency {
  font-size: 18px;
}

.modal {
  display: none;
  background-color: white;
  /* margin-left: 1000px; */
  border: 1px solid black;
  height: 500px;
  margin: auto;
  position: absolute;
  width: 500px;
}


.modalContainer {
  display: flex;
  height : 700px;
}


.modalWarning {
  font-size: 24px;
}


.modalQuestion {
  font-size: 16px;
}


.currencyToDelete {
  padding-left: 40px;
  margin-top: 60px;
}

#crossIcon {
  position: absolute;
  right: 0px;
  margin-right: 14px;
  margin-top: 8px;
  cursor: pointer;
}

#crossIcon:hover {
  color: red;
}

#hello {
  margin-top: 13px;
  margin-left: 10%;
  font-size: xx-large;
  color: blue;
  font-weight: bold;
}

.detailsAbout {
  padding-left: 12%;
  font-size: large;
  color: rgb(0, 89, 255);
  font-weight: bold;

}

.projectDescription {
  padding-left: 13%;
  padding-top: 5px;
  font-size: 17px;
  font-weight: bold;
  color: rgb(0, 183, 255);
}

#myPicture{
  height: 200px;
  width: 180px;
  margin-left: 20%;
}

#notFound {
  display: none;
  margin-top: 24px;
}

#notFoundContainer {
  align-items: center;
  color: wheat;
  display: flex;
  font-size: 30px;
  justify-content: center;
}

#searchButton {
  cursor: not-allowed;
  opacity: 0.7;
}

#textFieldContainer {
  align-items: center;
  display: flex;
  justify-content: center;
}